@inherits LayoutComponentBase

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="/">NBA Look-A-Likes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/teams">Teams</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/games">Game Logs</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/compare">Compare Players</NavLink>
                </li>
               
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @Body
    </div>
</div>
